<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <title>PAN Card Scanning</title>
  </head>
  <style>
  body {
  background-image: url('static/index_page_background_1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
input {
  font-size: 20px;
  height:50px;
}
.imagediv {
	float:left;
    margin-top:50px;
}
.imagediv .showonhover {
	background:red;
	padding:20px;
	opacity:0.9;
	color:white;
	width: 100%;
	display:block;
	text-align:center;
	cursor:pointer;
}
input[type='radio'] {
   transform: scale(1.5); }

  </style>
  <body>
    <div class="container">

      <br>
      <br>
      <form align="center" action="{{ url_for('predict_front_end')}}" method="post" enctype="multipart/form-data">

        <input type="file" id="myFile" name="filename">
        <input type="submit">
        <br>
        <br>
        <legend align="center"><h1>Please select your document type:</h1></legend>
        <label class="radio-inline" align="center">
          <input type="radio" id="pan" name="document" value="pan"><h3>Pan Card</h3>
        </label>

        <label class="radio-inline" align="center">
          <input type="radio" id="voter" name="document" value="voter" checked><h3>Voter ID</h3>
        </label>

      </form>
    </div>
  </body>
</html>
